<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Dr.House Bot</title>
</head>
<body>
    <div class="contents">
        <div class="header">
            <h1>House Bot: Dr. House explains Cryptography</h1>
        </div>
        
        <form method="POST" action="{{ url_for('get_response_from_input') }}">
            <input type="text" id="user_input" name="user_input" placeholder="Ask anything about Cryptography Algorithms" required>
            <button type="submit">Send</button>
        </form>
        
        <div class="chat-container">
            {% if user_input %}
                <div class="user">
                    <div class="message-content">
                        <h1>You:</h1>
                        <p id="user">{{ user_input }}</p>
                    </div>
                </div>
            {% endif %}
            
            {% if bot_response %}
                <div class="bot">
                    <div class="profile-image">
                        <img src="{{ url_for('static', filename='images/house_profile.jpg') }}" alt="House Bot" class="avatar">
                    </div>
                    <div class="message-content">
                        <h1>House Bot:</h1>
                        <p id="bot">{{ bot_response }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>

