<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Dr.House Bot</title>
</head>
<body>
    <div class="contents">
        <div class="header">
            <h1>Dr. House Bot: Dr. House explains Cryptography</h1>
        </div>
        <div class="chat-container" id="chat-box">
            {% for message in chat_history %}
                {% if message.user %}
                    <div class="user">
                        <div class="message-content">
                            <h1>You:</h1>
                            <p>{{ message.user }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if message.bot %}
                    <div class="bot">
                        <div class="profile-image">
                            <img src="{{ url_for('static', filename='images/house_profile.jpg') }}" alt="House Bot" class="avatar">
                        </div>
                        <div class="message-content">
                            <h1>House Bot:</h1>
                            <p>{{ message.bot }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <form method="POST" action="{{ url_for('get_response_from_input') }}" id="user_input_form">
            <input type="text" id="user_input" name="user_input" placeholder="Ask anything about Cryptography Algorithms" required>
            <button type="submit">Send</button>
            <button id="reset_button" type="reset">Reset Chats</button>
        </form>
    </div>

    <script>
        resetButton = document.getElementById("reset_button")
        resetButton.addEventListener("click", function(event) {
            event.preventDefault();
            window.location.href = "/reset";  // Force redirect to reset the session
            console.log("Reset button clicked, redirecting to /reset");
        });
    </script>
</body>
</html>

